body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
    color: #1e3932;
    overflow-x: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    background-color: #1e3932;
    border-bottom: 1px solid #0d261e;
    flex-shrink: 0;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.nav-links {
    display: flex;
    margin-left: 20px;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: #f4f4f4;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #4caf50;
}

.nav-actions {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.find-store {
    margin-right: 20px;
    text-decoration: none;
    color: #f4f4f4;
    font-weight: bold;
    display: flex;
    align-items: center;
    transition: color 0.3s ease;
}

.find-store:hover {
    color: #4caf50;
}

.sign-in {
    margin-right: 10px;
    padding: 8px 16px;
    border: 2px solid #f4f4f4;
    border-radius: 20px;
    background: transparent;
    color: #f4f4f4;
    cursor: pointer;
    
}

.sign-in:hover {
    background: #ddd;
    color: #1e3932;
}

.join-now {
    padding: 8px 16px;
    border: none;
    border-radius: 20px;
    background: #f4f4f4;
    color: #1e3932;
    cursor: pointer;
    
}

.join-now:hover {
    background: #ddd;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: #ffffff;
    color: #1e3932;
    text-align: center;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.content {
    padding: 40px;
    text-align: center;
    background-color: #bababa;
}

footer {
    background-color: #1e3932;
    color: #f4f4f4;
    padding: 10px;
    text-align: center;
}

